footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  .bg-gray-800 {
    background-color: #1f2937; 
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .p-4 {
    padding: 1rem; 
  }
  
  .text-center {
    text-align: center; 
  }
  

  footer p {
    font-size: 1rem;
  }
  
  @media (max-width: 768px) {
    footer p {
      font-size: 0.875rem;
    }
  }
  